{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

<h1 class="titleCategory">Toutes les catégories :</h1>
{% for category in categories %}
	<a href="{{ path("category_show", { categoryName : category.name }) }}">{{ category.name }}</a>
{% endfor %}

	<a class='a-role' href="{{ path("category_new") }}">Ajouter une catégorie</a>

 <a class='a-role' href="{{ path('app_index') }}">
        Retour à l'accueil
		</a>

{% endblock %}