{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

<h1 class='catName'>{{ category.name }}</h1>
{% for program in programs %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt">{{program.title}}</h1>
			<p class="mts">{{ program.synopsis }}</p>
		</div>
	</div>
{% endfor %}

  <a class='a-role'href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>

{% endblock %}