{% extends 'base.html.twig' %}
{% block title %}All seasons of program
{% endblock %}
{% block body %}
	<h1 class='catName'>
		{{ program.title }}
	</h1>
	<ul>
		{% for episode in episodes %}
			<li>
                <a class='mtw' href="{{ path("program_episode_show", { 'program' : program.id, 'season' : season.id, 'episode' : episode.id }) }}">{{ episode.title }}</a> 
			</li>
		{% endfor %}
	</ul>
	<a class='a-role' href="{{ path("program_show", { id: program.id }) }}">Revenir</a>
</div>

</a>{% endblock %}
