@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --font-title: 'Poppins', shine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body, header, .collapse{
    background-color: rgb(0, 0, 0);
}

.navbar-brand, .nav-link, .btn, .nav-item, .nav-link {
    color: red;
    font-size: 1.5rem;
}

.navbar, .container-fluid {
    padding: 0;
}

.titleWeb {
    color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 14rem;
    text-transform: uppercase;
    font-size: 15rem;
    -webkit-text-stroke: 4px red;
}

.navbar {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    --bs-navbar-active-color: red;
}

.presentation {
    color: rgb(255, 0, 0);
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}

.collapse {
    border-bottom: 2px solid red;
}

.navbar-brand, .nav-link {
    margin-left: 2rem;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(255, 255, 255);
}

.titleCategory {
    color: red;
    margin-top: 5rem;
    margin-left: 3rem;

}

a {
    color: red;
    list-style: none;
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.3rem;
}

.a-role {
    font-size: 1.5rem;
    justify-content: center;
}

.catName {
    color: red;
    margin-top: 5rem;
    margin-left: 3rem;
    justify-content: center;

}

.mt {
    color: white;
    margin-top: 7rem;
    margin-left: 3rem;
    text-decoration: underline 2px white;
    justify-content: center;
}
.mts {
    color: white;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
    justify-content: center;
}

label.required {
    color: red;
    margin-left: 3rem;
    margin-top: 10rem;
    height: 3rem;
    font-size: 1.5rem;
}

button {
    margin-left: 3rem;
    margin-top: 3rem;
    height: 4rem;
    width: 8rem;
    border-radius: 20px;
    background-color: black;
    border: 2px solid red;
}

.submitAdd {
    color: red;
}

.mti {
        color: white;
        margin-top: 3rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        display: flex;
        font-size: 1.5rem;
        text-decoration: underline;
}

.mty {
    color: white;
    margin-top: 10rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
   
}

.mtl {
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
    display: flex;
    font-size: 1.3rem;
}

.mtw {
    color: white;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
}

.m {
    color: white;
    margin-top: 2rem;
    margin-left: 3rem;
    justify-content: center;
    font-size: 1.2rem;
}

.w {
    color: white;
    margin-top: 4rem;
    margin-left: 3rem;
    justify-content: center;
    text-decoration: underline;
    font-size: 1.2rem;
}