{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Wild Series</h1>
<p class='presentation'>Wild-Series est un service de streaming sur abonnement qui permet à nos abonnés de regarder des séries et des films sur un appareil connecté à Internet.   

En fonction de votre offre, vous pouvez également télécharger des séries et des films sur votre appareil iOS, Android ou Windows 10 pour les regarder hors ligne.

Alors ? Rejoingnez vous l'aventure ?</p>

{% endblock %}